# IDE/System based files and folders #
/.buildpath
/.project
/.settings
.DS_Store
/.idea

# Composer installation #
/vendor

# Configuration #
/etc/config.json
/.php_cs.cache

# Local resources #
/cache/twig/

# NPM
/node_modules

# DebugBar assets #
/www/media/css/debugbar.css
/www/media/js/debugbar.js
