# IDE/System based files and folders #
/.buildpath
/.project
/.settings
.DS_Store
/.idea

# Composer installation #
/vendor

# Configuration #
/etc/config.json

# Don't add any post images to VCS
/www/media/img/*.jpg
/www/media/img/*.png
