{% extends "index.twig" %}

{% block htmlClass %} class="bg-black"{% endblock %}

{% block bodyClass %}bg-black{% endblock %}

{% block primaryContentContainer %}
    <div class="form-box" id="login-box">
        <div class="header">Sign In</div>
        <form action="{{ uri.base.full }}manage" method="post">
            <div class="body bg-gray">
                {% for type, flashMessages in messages %}
                    {% for flashMessage in flashMessages %}
                        <div class="alert alert-{{ type }}">
                            {{ flashMessage }}
                        </div>
                    {% endfor %}
                {% endfor %}
                <div class="form-group">
                    <input type="text" name="username" class="form-control" placeholder="Username"/>
                </div>
                <div class="form-group">
                    <input type="password" name="password" class="form-control" placeholder="Password"/>
                </div>
            </div>
            <div class="footer">
                <button type="submit" class="btn bg-olive btn-block">Sign me in</button>
            </div>
        </form>
    </div>
{% endblock %}
