{% extends "index.twig" %}

{% block title %}About Me{% endblock %}

{% block headerBackground %}{{ uri.base.path }}assets/img/about-bg.jpg'){% endblock %}

{% block pageHeadingText %}
    <div class="page-heading">
        <h1>About Me</h1>
        <hr class="small">
        <span class="subheading">This is what I do.</span>
    </div>
{% endblock %}

{% block content %}
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum ullam eveniet pariatur voluptates odit, fuga atque ea nobis sit soluta odio, adipisci quas excepturi maxime quae totam ducimus consectetur?</p>
{% endblock %}
