{% extends 'base.html.twig' %}

{% block title %}{% if page > 1 %}Page {{ page }} | {% endif %}Blog | {{ parent() }}{% endblock %}

{% block metaDescription %}Michael Babker's Blog{% endblock %}

{% block pageHeadingText %}
    <div class="site-heading">
        <h1>Michael's Blog</h1>
        <hr class="small">
        <span class="subheading">My random thoughts and ramblings.</span>
    </div>
{% endblock %}

{% block content %}
    {% include 'partials/blog_list.html.twig' with {'articles': posts, 'section': 'blog'} %}
    {% if paginator.haveToPaginate %}
        {{ render_pagination(paginator) }}
    {% endif %}
{% endblock %}
