{% extends 'base.html.twig' %}

{% block title %}{% if page > 1 %}Page {{ page }} | {% endif %}Blog | {{ parent() }}{% endblock %}

{% block metaDescription %}Michael Babker's Blog{% endblock %}

{% block pageHeadingText %}
    <div class="site-heading">
        <h1>Michael's Blog</h1>
        <span class="subheading">My random thoughts and ramblings.</span>
    </div>
{% endblock %}

{% block content %}
    <div itemscope itemtype="https://schema.org/Blog">
        <meta itemscope itemprop="mainEntityOfPage" itemType="https://schema.org/WebPage" itemid="{{ request_uri() }}">
        {% include 'partials/blog_list.html.twig' with {'articles': posts, 'section': 'blog'} %}
        {% if paginator.haveToPaginate %}
            {{ render_pagination(paginator) }}
        {% endif %}
    </div>
{% endblock %}
