{% extends 'base.html.twig' %}

{% block title %}{{ exception.code ? exception.code ~ ' - ' : '' }}Error{% endblock %}

{% block content %}
    {% if exception.code == 404 %}
        <h2>I still haven't found what you're looking for...</h2>
        <p>I tried my best, but I just couldn't find it. Sorry about that.</p>
    {% else %}
        <div class="alert alert-danger">
            <h4>{{ exception.code ? : "0" }} - {{ exception|get_class }}</h4>
            <p>{{ exception.message|strip_root_path }}</p>
        </div>
    {% endif %}
{% endblock %}
