{% extends 'base.html.twig' %}

{% block content %}
    <h2 class="post-title">Latest Blog Post</h2>
    {% include 'partials/blog_preview.html.twig' with {'article': latest, 'section': 'blog'} %}
{% endblock %}
