{% extends 'base.html.twig' %}

{% block title %}Privacy | {{ parent() }}{% endblock %}

{% block pageHeadingText %}
    <div class="page-heading">
        <h1>Privacy Policy</h1>
    </div>
{% endblock %}

{% block content %}
    <em>Last Updated: May 13, 2018</em>
    <p>Your privacy is important to me, therefore this site is designed to collect as little information about my visitors as possible, with the information being gathered strictly for informational/analytical purposes only.</p>

    <h2>Who I Am</h2>
    <p>I am Michael Babker, a private individual and the owner of this web domain. For the purposes of laws and regulations such as the General Data Protection Regulation (GDPR), I am the Data Protection Officer or similarly titled position for this website and can be contacted via email at michael [DOT] babker [AT] gmail [DOT] com.</p>

    <h2>Collected Information</h2>
    <p>Some potentially identifying information is collected as a result of visiting this website. This information, and the purpose of its collection, includes:</p>
    <ul>
        <li><strong>IP Address</strong> &mdash; Your IP address is collected and stored in the web server's logs and security tools as a means of ensuring the security of this website and preventing abuse.</li>
    </ul>

    <h2>Cookies</h2>
    <p>This site uses small text files known as Cookies to enhance your experience on the site. These cookies may provide the ability for a visitor's activity to be tracked as it relates to their interaction with this site and therefore all cookies require your approval to be used. The cookies used on this site include:</p>
    <div class="table-responsive">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>Cookie Name</th>
                    <th>Purpose</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>cookieconsent_status</td>
                    <td>Used to track if you have accepted the use of cookies on this site.</td>
                </tr>
                <tr>
                    <td>_ga, _gat, _gid</td>
                    <td>Google Analytics tracking cookies used in collecting information about the way visitors are using this site.</td>
                </tr>
            </tbody>
        </table>
    </div>

    <h2>Analytics</h2>
    <p>If the use of cookies is accepted, this site uses <a href="https://www.google.com/analytics/" rel="nofollow noopener">Google Analytics</a> to collect information about this site's visitors for the purpose of logging statistical information such as the visitor's browser, preferred language, and approximate location (based on IP address). This information is transmitted and stored on the servers of Google, Inc. in an anonymous manner to prevent identification of an individual visitor.</p>

    <h2>YouTube</h2>
    <p>This site makes use of YouTube for the purpose of sharing videos related to the owner. Videos which are embedded into this site use the "youtube-nocookie.com" domain, which per the site's documentation means the service will NOT install cookies to your browser.</p>
{% endblock %}
