{% extends 'base.html.twig' %}

{% block metadata %}
    <meta name="robots" content="noindex, nofollow" />
{% endblock %}

{% block title %}Michael's Résumé{% endblock %}

{% block pageHeadingText %}
    <div class="page-heading">
        <h1>Michael Babker's Résumé</h1>
        <span class="subheading">Open Source & PHP Enthusiast</span>
    </div>
{% endblock %}

{% block content %}
    <h2 class="post-title">Professional Summary</h2>
    <p>Multi-talented information technology professional with over ten years of systems and network administration experience, over seven years experience in web development, and over five years in leadership and management roles.</p>

    <h2 class="post-title">Skills</h2>
    <ul>
        <li>Requirements gathering</li>
        <li>Iterative development</li>
        <li>QA tools</li>
        <li>Project planning and development</li>
        <li>Fluent in PHP and JavaScript</li>
        <li>Strong leadership abilities</li>
    </ul>

    <h2 class="post-title">Work History</h2>

    <div class="row">
        <div class="col-sm-9">
            <h3>Production Department Coordinator - Open Source Matters, Inc.</h3>
        </div>
        <div class="col-sm-3">
            <small class="pull-right">Mar 2017 - Current</small>
        </div>
    </div>
    <ul>
        <li>Serves on the Board of Directors of Open Source Matters, Inc., the not-for-profit organization serving the legal and financial needs of Joomla (an open source software project).</li>
        <li>Coordinator of a 13 team department charged with steering the development of the Joomla software with focus areas including automated testing, accessibility, documentation, and user experience.</li>
        <li>Release Coordinator for the Joomla 3.8 release series, manages the planning and distribution of Joomla's releases to its worldwide user base.</li>
    </ul>

    <div class="row">
        <div class="col-sm-9">
            <h3>Lead Developer - Happy Dog Web Productions</h3>
        </div>
        <div class="col-sm-3">
            <small class="pull-right">Apr 2016 - Current<br>White Bear Lake, MN</small>
        </div>
    </div>
    <ul>
        <li>Oversees the development and maintenance of over 30 web applications primarily using PHP application frameworks.</li>
        <li>Streamlined deployment and testing processes by launching a Jenkins Continuous Integration server to assist with quality assurance and deployment of numerous client and internal applications.</li>
        <li>Deployed monitoring tools including New Relic to analyze application performance, optimizing resource usage by over 15% for 15 websites.</li>
    </ul>

    <div class="row">
        <div class="col-sm-9">
            <h3>Developer & System Administrator - WebSpark, Inc.</h3>
        </div>
        <div class="col-sm-3">
            <small class="pull-right">Jun 2014 - Mar 2016<br>Burlington, NC</small>
        </div>
    </div>
    <ul>
        <li>Contributing developer on a team of 5 for the initial release of the Mautic marketing automation platform, built on the Symfony framework.</li>
        <li>Engineered a clustered SaaS hosting platform for the company's hosted version of Mautic, deploying a platform initially supporting 2000 user accounts.</li>
    </ul>

    <div class="row">
        <div class="col-sm-9">
            <h3>Senior Information Technology Specialist - US Army</h3>
        </div>
        <div class="col-sm-3">
            <small class="pull-right">Jun 2005 - Jun 2014</small>
        </div>
    </div>
    <ul>
        <li>Performed duties in various IT related focus areas including system administration, network administration, information assurance, and user support primarily in Windows enterprise based environments.</li>
        <li>Responsible for the morale, welfare, well-being, and professional development of a team of two or three junior Soldiers.</li>
        <li>Senior shift supervisor for a first-tier support desk providing support to a 24/7 workforce with over 2500 personnel, nominated for a customer service award while in this role.</li>
        <li>As a member of a 15-Soldier team, oversaw the deployment of a satellite transportable trailer and supporting components valued over $300,000 as part of a tactical military communications network in remote environments including Afghanistan.</li>
        <li>Implemented an improved support tracking system ensuring over 1200 user requests were processed in a timely manner with over $100,000 of equipment issued and received with zero loss or damage in support of a deploying brigade leadership team.</li>
    </ul>

    <h2 class="post-title">Education</h2>

    <div class="row">
        <div class="col-sm-10">
            <h3>Associate of Arts: Information Technology - Axia College of University of Phoenix</h3>
        </div>
        <div class="col-sm-2">
            <small class="pull-right">2011</small>
        </div>
    </div>
    <ul>
        <li>Completed Associate's Degree while deployed to Afghanistan maintaining a 3.5 GPA.</li>
    </ul>

    <h2 class="post-title">Volunteerism</h2>
    <p>Developer contributing to the Joomla! open source project since 2010. Previously a member of its Production Leadership Team, a Release Coordinator, and the lead of the Security Team. Presently a member of the system administration team overseeing the joomla.org Website network.</p>
{% endblock %}
