{% extends "index.twig" %}

{% block title %}Speaking Engagements{% endblock %}

{% block headerBackground %}{{ uri.media.full }}img/jwc14-stage.jpg{% endblock %}

{% block pageHeadingText %}
    <div class="page-heading">
        <h1>Speaking Engagements</h1>
        <hr class="small">
        <span class="subheading">Open Source & PHP Enthusiast, loves sharing his knowledge</span>
    </div>
{% endblock %}

{% block content %}
    <h3>Request a Talk</h3>
    <p>I'm available to speak worldwide on a variety of topics based on my experiences developing primarily with Joomla and Symfony. If you’re interested in having me speak at an event, please contact me and include the location, date, and the URL for the event's website.</p>
    <h3>Upcoming Events</h3>
    <p>Listed below are upcoming events which I will be speaking at and the topics I will be presenting:</p>
    <div class="row text-center">
        <div class="col-md-4">
            <a title="JoomlaDay Minnesota" href="https://joomladay.mn/" target="_blank">
                <img src="{{ uri.media.full }}img/events/jdmn15.jpg" alt="JoomlaDay Minnesota - July 18 2015, Mall of America, Minnesota" title="JoomlaDay Minnesota - July 18 2015, Mall of America, Minnesota" />
            </a><br />
            <a title="JoomlaDay Minnesota Schedule" href="https://joomladay.mn/2015-schedule.html" target="_blank">JoomlaDay Minnesota</a><br />
            <a title="Building Beyond Joomla - Integrating the Best of PHP" href="https://joomladay.mn/session/building-beyond-joomla-integrating-the-best-of-php.html" target="_blank">Building Beyond Joomla - Integrating the Best of PHP</a>
        </div>
        <div class="col-md-4">
            <a title="Pacific Northwest PHP" href="http://pnwphp.com/" target="_blank">
                <img border="0" alt="Pacific Northwest PHP - September 10 - 12, 2015, Seattle, Washington" src="{{ uri.media.full }}img/events/pnwphp.png" />
            </a><br />
            <a title="Pacific Northwest PHP Talks" href="http://pnwphp.com/talks" target="_blank">Pacific Northwest PHP</a><br />
            <a title="Integrating Joomla with the PHP Community" href="http://pnwphp.com/talks#integrating-joomla-with-the-php-community" target="_blank">Integrating Joomla with the PHP Community</a>
        </div>
        <div class="col-md-4">
            <a title="php[world]" href="https://world.phparch.com/" target="_blank">
                <img border="0" alt="php[world] - November 16 - 20, 2015, Washington, DC" src="{{ uri.media.full }}img/events/phpworld.png" />
            </a><br />
            <a title="php[world] Schedule" href="https://world.phparch.com/schedule/" target="_blank">php[world]</a><br />
            <a title="Integrating Joomla with the PHP Community" href="https://world.phparch.com/speakers/#66469" target="_blank">Integrating Joomla with the PHP Community</a><br />
            <a title="Using Lessons Learned to Create Web-Manageable Symfony Apps" href="https://world.phparch.com/speakers/#66469" target="_blank">Using Lessons Learned to Create Web-Manageable Symfony Apps</a>
        </div>
    </div>
    <h3>Previous Sessions</h3>
    <p>I have experience speaking worldwide about Joomla! and PHP in general, to include the Joomla! World Conference, WordCamp Milwaukee, CoderFaire, and php[world]. Below are samples of sessions I have presented.</p>
    <div class="row">
        <div class="col-md-6">
            <div class="embed-responsive embed-responsive-4by3">
                <iframe style="border: 1px solid #CCC; border-width: 1px 1px 0; margin-bottom: 5px; max-width: 100%;" src="//www.slideshare.net/slideshow/embed_code/32349436" width="427" height="356" marginwidth="0" marginheight="0" scrolling="no" allowfullscreen="" title="SlideShare - Looking at Joomla! 3.3" class="embed-responsive-item"></iframe>
            </div>
            <div style="margin-bottom: 5px;">
                <strong>
                    <a title="Looking at Joomla! 3.3" href="https://www.slideshare.net/mbabker/looking-at-joomla-33" target="_blank">JoomlaDay Atlanta 2014 - Looking at Joomla! 3.3</a>
                </strong>
            </div>
        </div>
        <div class="col-md-6">
            <div class="embed-responsive embed-responsive-4by3">
                <iframe style="border: 1px solid #CCC; border-width: 1px 1px 0; margin-bottom: 5px; max-width: 100%;" src="//www.slideshare.net/slideshow/embed_code/35720280" width="427" height="356" marginwidth="0" marginheight="0" scrolling="no" allowfullscreen="" title="SlideShare - Getting Started with the Joomla! Framework" class="embed-responsive-item"></iframe>
            </div>
            <div style="margin-bottom: 5px;">
                <strong>
                    <a title="Getting Started with the Joomla! Framework" href="//www.slideshare.net/mbabker/getting-started-with-the-joomla-framework" target="_blank">Getting Started with the Joomla! Framework</a>
                </strong>
            </div>
        </div>
        <div class="col-md-6">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe src="https://www.youtube.com/embed/T_MAS939RaA" width="560" height="315" allowfullscreen title="YouTube - The Success of Joomla! 3" class="embed-responsive-item"></iframe>
            </div>
            <div style="margin-bottom: 5px;">
                <strong>
                    <a title="The Success of Joomla! 3" href="https://youtu.be/T_MAS939RaA" target="_blank">JoomlaDay Germany 2014 - Keynote - The Success of Joomla! 3</a>
                </strong>
            </div>
        </div>
        <div class="col-md-6">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe src="https://www.youtube.com/embed/q6qmY1rcubA" width="560" height="315" allowfullscreen title="YouTube - Integrating Joomla with the PHP Community" class="embed-responsive-item"></iframe>
            </div>
            <div style="margin-bottom: 5px;">
                <strong>
                    <a title="Integrating Joomla with the PHP Community" href="https://youtu.be/q6qmY1rcubA" target="_blank">J And Beyond 2015 - Keynote - Integrating Joomla with the PHP Community</a>
                </strong>
            </div>
        </div>
    </div>
{% endblock %}
